<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="false">
                    <match url="api2/TravelplannerV2/(.*)" />
                    <action type="Rewrite" url="http://api.sl.se/api2/TravelplannerV2/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule2" stopProcessing="false">
                    <match url="fidde/sl(.*)" />
                    <action type="Rewrite" url="http://fredriklowenhamn.se/slappi/api/sl/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".less" mimeType="text/css" />
        </staticContent>
    </system.webServer>
</configuration>