.trafic-icon {
    background-image: url(@sl-image);
    background-repeat: no-repeat;
    background-color: transparent;
    display: inline-block;
    width: 22px;
    height: 21px;
}

.MET_green {
    background-position: -15px -14px;
}
.MET_red {
    background-position: -65px -14px;
}
.MET_blue {
    background-position: -116px -14px;
}
.BUS_red {
    background-position: -166px -14px;
}
.TRM {
    background-position: -320px -14px;
}
.TRAIN {
    background-position: -370px -14px;
}

.svg-ic_apps_24px-dims { width: 24px; height: 24px; }
.svg-ic_arrow_back_24px-dims { width: 24px; height: 24px; }
.svg-ic_arrow_drop_down_24px-dims { width: 24px; height: 24px; }
.svg-ic_arrow_drop_down_circle_24px-dims { width: 24px; height: 24px; }
.svg-ic_arrow_drop_up_24px-dims { width: 24px; height: 24px; }
.svg-ic_arrow_forward_24px-dims { width: 24px; height: 24px; }
.svg-ic_cancel_24px-dims { width: 24px; height: 24px; }
.svg-ic_check_24px-dims { width: 24px; height: 24px; }
.svg-ic_chevron_left_24px-dims { width: 24px; height: 24px; }
.svg-ic_chevron_right_24px-dims { width: 24px; height: 24px; }
.svg-ic_close_24px-dims { width: 24px; height: 24px; }
.svg-ic_expand_less_24px-dims { width: 24px; height: 24px; }
.svg-ic_expand_more_24px-dims { width: 24px; height: 24px; }
.svg-ic_fullscreen_24px-dims { width: 24px; height: 24px; }
.svg-ic_fullscreen_exit_24px-dims { width: 24px; height: 24px; }
.svg-ic_menu_24px-dims { width: 24px; height: 24px; }
.svg-ic_more_horiz_24px-dims { width: 24px; height: 24px; }
.svg-ic_more_vert_24px-dims { width: 24px; height: 24px; }
.svg-ic_refresh_24px-dims { width: 24px; height: 24px; }
.svg-ic_unfold_less_24px-dims { width: 24px; height: 24px; }
.svg-ic_unfold_more_24px-dims { width: 24px; height: 24px; }