
/**
	Variables
	1. Colors
	2. Queries
	3. Others?
**/
@sl-blue: #03a9f4;
@sl-grey: #a9a9a9;
@sl-white: #fefefe;


@sl-image: '/app/assets/images/atlas_v01.png';

/**
	Imports
**/

@import '_layout';
@import '_icons';


