<div class="search-container">
    <form ng-submit="search.doit()">
        <input type="text" placeholder="Från" ng-model="search.from" />
        <md-button type="button" ng-click="search.openSmartPicker('from',search.smartStationFrom)" class="pull-right">
            <div class="svg-ic_more_vert_24px svg-ic_more_vert_24px-dims"></div>
        </md-button>
        <input type="text" placeholder="Till" ng-model="search.to" />
        <md-button type="button" ng-click="search.openSmartPicker('to',search.smartStationTo)" class="pull-right">
            <div class="svg-ic_more_vert_24px svg-ic_more_vert_24px-dims"></div>
        </md-button>
        <input type="submit" value="Sök" class="md-raised md-primary"/>
    </form>
</div>

<div class="result">
    <h1 ng-if="search.isSearching">SÖKER!</h1>
</div>

<div class="smart-picker" ng-show="search.showSmartPicker" ng-click="search.cancelSmartPicker()">
    <div class="content">
        <div ng-repeat="sugg in search.currentSuggestions">
            <p ng-bind="sugg" ng-click="search.selectSmartPicker(sugg)"></p>
        </div>
    </div>
</div>