<div class="search-container">
    <form ng-submit="search.doit()">
        <input type="text" placeholder="Från" ng-model="search.from" />
        <button type="button" ng-click="search.smartPicker.open('from',search.smartPicker.fromSuggestions)">...</button>
        <input type="text" placeholder="Till" ng-model="search.to" />
        <button type="button" ng-click="search.smartPicker.open('to',search.smartPicker.toSuggestions)">...</button>
        <input type="submit" value="Sök" />
    </form>
</div>

<div>
    <h1 ng-if="search.isSearching">SÖKER!</h3>
    <h1 ng-if="search.waitingPosition">VÄNTAR PÅ POSITION!</h3>
    <h1 ng-if="search.isError">Nu gick något sönder!</h3>
</div>

<div class="smart-picker" ng-show="search.smartPicker.show" ng-click="search.smartPicker.cancel()">
    <div class="content">
        <div ng-repeat="sugg in search.smartPicker.currentSuggestions">
            <p ng-bind="sugg" ng-click="search.smartPicker.select(sugg)"></p>
        </div>
    </div>
</div>


<md-list>
	<md-item ng-repeat="trip in search.history.list" ng-click="search.history.search(trip)">
		<md-item-content>
		<div class="md-tile-content">
			<h3>
				{{trip.from}} --> {{trip.to}}
			</h3>
		</div>
		</md-item-content>
		<md-divider ng-if="!$last" class="divider"></md-divider>
	</md-item>
</md-list>